vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Jan 2021 15:22:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|HP-ENVY-TANMEEN\\tanme
vti_modifiedby:SR|HP-ENVY-TANMEEN\\tanme
vti_timecreated:TR|13 Jan 2021 14:23:25 -0000
vti_backlinkinfo:VX|Tanmeen\\ Patel\\ -\\ Autobiography/likedoing.html Tanmeen\\ Patel\\ -\\ Autobiography/index.html Tanmeen\\ Patel\\ -\\ Autobiography/elements.html Tanmeen\\ Patel\\ -\\ Autobiography/familyfriends.html Tanmeen\\ Patel\\ -\\ Autobiography/qualities.html Tanmeen\\ Patel\\ -\\ Autobiography/myimage.html Tanmeen\\ Patel\\ -\\ Autobiography/achievements.html
vti_cacheddtm:TX|15 Jan 2021 15:22:26 -0000
vti_filesize:IR|49577
vti_cachedlinkinfo:VX|Q|font-awesome.min.css Q|https://fonts.googleapis.com/css S|../../images/wow\\ man.jpg S|../../images/nature.jpg
vti_cachedsvcrellinks:VX|FQUS|Tanmeen\\ Patel\\ -\\ Autobiography/assets/css/font-awesome.min.css NQSS|https://fonts.googleapis.com/css FSUS|Tanmeen\\ Patel\\ -\\ Autobiography/images/wow\\ man.jpg FSUS|Tanmeen\\ Patel\\ -\\ Autobiography/images/nature.jpg
